html, body{
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
	background-color:#262626;
	color: #d2d2d2;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
}

header, footer{
	background-color:#1a1a1a ;
	user-select: none;
}

header nav{
	display: inline-block;
	padding: 0.5rem;
	font-size: 125%;
}

nav:hover{
	text-decoration: underline;
	user-select: none;
}

footer{
	padding: 0.5rem;
	text-align: center;
	font-family: monospace;
	font-size: 85%;
	letter-spacing: 2px;
}

#content{
	flex: 1;
	padding: 10px 10px;
	display: flex;
	flex-direction: column;
}

.card{
	padding: 1rem;
	border: 1px solid #cccccc;
}
